body{
    background-color: aliceblue;
}
.edge{
    grid-template-columns:1fr 1fr 1fr ;
    display: grid;
    padding-left: 10px;
    gap: 10px;
    margin: 100px;
}
img{
   margin: 10px;
    border-radius: 50%;
} 
.row1{
    border: 1px solid black;
    display: grid;
    justify-content: center;

    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
   
} 
.text{
    display: grid;
    grid-template-columns: .3fr 1fr;
}


.row2{
    border: 1px solid black;
    justify-content: center;
    border-radius: 10px;
    display: grid;
    background-color: hsl(218, 12%, 55%)
   
}
.row3{
    border: 1px solid black;
    justify-content: center;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
   
}
.row4{
    border: 1px solid black;
    justify-content: center;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}
.row5{
    border: 1px solid black;
    justify-content: center;
    border-radius: 10px;
    background-color:hsl(217, 19%, 35%)
}
